$primary-font-color: #fff;
$primary-background-color: #003341;
$offset-background-color: #000;
$shadow-color: #111;

%card{
    background: $offset-background-color;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 $shadow-color;
    text-align: center;
}

body {
    color: $primary-font-color;
    background: $primary-background-color;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    font-size: 17px;
}

html, main, .row {
    height: 100%;
}

nav {
    background: $offset-background-color;
    ul {
        li {
            display: inline;
            padding: 1px;
            a {
                color: $primary-font-color;
            }
        }
    }
}

footer {
    background: $offset-background-color;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

form {
    label {
        text-align: center;
    }
    input {
        width: 100%;
        color: $offset-background-color;
    }
    textarea {
        width: 100%;
        color: $offset-background-color;
    }
}

.content-card{
    @extend %card;
    height: 75%;
    h1 {
        text-align: center;
    }
}

.project-card{
    @extend %card;
    .project-img{
        img {
            width: 150px;
            height: 150px;
        }
    }
    
    .project-text{
        position: fixed;
        top: 0;
    }
}




