$primary-font-color: #fff;
$primary-background-color: #003341;
$secondary-background-color: #000;
$tertiary-background-color: #400;
$shadow-color: #111;

%card{
    background: $secondary-background-color;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 $shadow-color;
    text-align: center;
}

body {
    color: $primary-font-color;
    background: $primary-background-color;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    font-size: 17px;
}

html, main, .row {
    //height: 100%;
}

header {
    background: $secondary-background-color;
    nav {
        ul {
            li {
                display: inline;
                padding: 1px;
                a {
                    color: $primary-font-color;
                }
            }
        }
    }

}

footer {
    background: $secondary-background-color;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    a{
        text-decoration: underline;
    }
}

form {
    label {
        text-align: center;
    }
    input {
        width: 100%;
        color: $secondary-background-color;
    }
    textarea {
        width: 100%;
        color: $secondary-background-color;
    }
}

.flash{
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    background-color: $tertiary-background-color;
}

.content-card{
    @extend %card;
    h1 {
        text-align: center;
    }
}

.project-card{
    @extend %card;
    .project-img{
        img {
            width: 150px;
            height: 150px;
        }
    }
    
    .project-text{
        height: 150px;
    }

    .links{
        position: absolute;
        right: 0;
        bottom: 0;
    }

    a{
        text-decoration: underline;
    }
}




