{% extends "base.html" %}

{% block title %}Brian Bowyer - About{% endblock %}

{% block content %}
    <main class="container">
        <div class='row content-card'>
            <div class='col'>
                <h1>About</h1>
                <p>I'm Brian, and I'm a software developer who [STUFF HERE]. I currently do data analysis for Reimbursement Genie, a company that manages reimbursements for Amazon sellers. At work, I use mainly Python, Pandas, and SQL, though I have worked with Flask in the past.</p>
                <p>Test test</p>
                <p>When I'm not coding, I play lots of tabletop RPGs (such as, but not limited to, Dungeons and Dragons). [MAYBE MORE?]</p>
            </div>
        </div>
    </main>
    {{super()}}
{% endblock %}