{% extends "bootstrap/base.html" %}

{% block navbar %}
    <header>
        <nav class='navbar'>
            <div id='navbar' class='navbar-collapse collapse'>
                <ul class='nav navbar-nav navbar-right'>
                    <li><a href = "{{url_for('index')}}">Home</a></li>
                    <li><a href = "{{url_for('projects')}}">Projects</a></li>
                    <li><a href = "{{url_for('contact')}}">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

{% block content %}
<footer class='container-fluid'>
    <div class='row'>
        <div class='col'>
            <p>
                <a href="https://github.com/Brian-Bowyer">Github</a> * 
                <a href="https://www.linkedin.com/in/brian-bowyer-a4290097/">Linkedin</a> *
                <a href="mailto:brian.bowyer0@gmail.com">Email</a>
            </p>

            <p><a href="https://github.com/Brian-Bowyer/Personal-Website">See this website's Github repository</a></p>
        </div>
    </div>
</footer>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}