{% extends "bootstrap/base.html" %}

{% block navbar %}
    <header>
        <nav class='navbar'>
            <div id='navbar' class='navbar-collapse collapse'>
                <ul class='nav navbar-nav navbar-right'>
                    <li><a href = "{{url_for('index')}}">Home</a></li>
                    <li><a href = "{{url_for('about')}}">About</a></li>
                    <li><a href = "{{url_for('projects')}}">Projects</a></li>
                    <li><a href = "{{url_for('contact')}}">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

{% block content %}
<footer class='container-fluid'>
    <div class='row'>
        <div class='col'>
            <p>
                <a href="">Github</a> * 
                <a href="">Linkedin</a>
            </p>

            <p><a href="">See this website's Github repository</a></p>
        </div>
    </div>
</footer>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}