{% extends "base.html" %}

{% block title %}Brian Bowyer - Contact{% endblock %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class='col content-card'>
            <h2>Contact</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class=flash>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('contact') }}" method=post>
                {{ form.csrf_token }}
                <p>
                {{ form.name.label }}
                {{ form.name }}
                </p>

                <p>
                {{ form.email.label }}
                {{ form.email }}
                </p>

                <p>
                {{ form.subject.label }}
                {{ form.subject }}
                </p>

                <p>
                {{ form.message.label }}
                {{ form.message }}
                </p>

                <p>
                {{ form.submit }}
                </p>
            </form>
        </div>
    </div>
</div>
{{super()}}
{% endblock %}