{% block footer %}
<footer class='container-fluid'>
    <div class='row'>
        <div class='col'>
            <p>
                <a href="https://github.com/Brian-Bowyer">Github</a> * 
                <a href="https://www.linkedin.com/in/brian-bowyer-a4290097/">Linkedin</a> *
                <a href="mailto:brian.bowyer0@gmail.com">Email</a>
            </p>

            <p><a href="https://github.com/Brian-Bowyer/Personal-Website">See this website's Github repository</a></p>
        </div>
    </div>
</footer>
{% endblock %}