{% extends "base.html" %}

{% block title %}Brian Bowyer{% endblock %}

{% block content %}
    <main class="container">
        <div class='row'>
            <div class='col'>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel turpis ac odio ultricies auctor. Duis at orci in leo gravida lacinia vel sed ligula. Aliquam sit amet tellus dictum, finibus justo quis, tincidunt nibh. Quisque venenatis mauris eu neque molestie, vitae rhoncus arcu gravida. Quisque sit amet dolor et libero semper dictum ut eget nunc. Fusce egestas risus ipsum, ut dapibus magna mattis ut. Donec vitae suscipit sem, id tristique arcu. Duis non placerat neque. Phasellus id felis sed mi maximus hendrerit a eu nunc. Phasellus tincidunt rhoncus tellus quis interdum. Pellentesque at nisl justo. Morbi mauris massa, ullamcorper dignissim mauris at, ultricies egestas nulla.  </p>
            </div>
        </div>
    </main>
    {{super()}}
{% endblock %}