.content-card, .project-card {
  background: #000;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #111; }

  body {
    color: #fff;
    background: #003341;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    height: 100%;
    font-size: 17px;
    text-align: center; }

    header {
      background: #000; }
      header nav ul li {
        display: inline;
        padding: 1px; }
        header nav ul li a {
          color: #fff; }

footer {
  background: #000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center; }
  footer a {
    text-decoration: underline; }

.contact-form {
  text-align: left; }
  .contact-form input {
    width: 100%;
    color: #000; }
    .contact-form textarea {
      width: 100%;
      color: #000; }

.flash {
  text-align: center;
  padding: 10px;
  border: 1px solid white;
  background-color: #400; }

  .content-card h1 {
    text-align: center; }

.project-card .project-img img {
  width: 150px;
  height: 150px; }
.project-card .project-text {
  height: 150px; }
  .project-card .links {
    position: absolute;
    right: 0;
    bottom: 0; }
    .project-card a {
      text-decoration: underline; }
